<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mediaserver</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" />
</head>

<body>
  <div class="container fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Mediaserver</h1>
        <p>
          <a href="http://mediaserver.local:32400/web/index.html">Plex Media Server</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Movies</h2>
        <% movies.forEach(function(movie) { %>
          <%= movie.getName() %> <br>
        <% }); %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Series</h1>
        <% series.forEach(function(serie) { %>
            <p>
              <b><%= serie.getName() %></b><br>

              <% serie.getSeasons().forEach(function(season) { %>
                <%= season.getName() %>: <%= season.getEpisodeCount() %> Episoden <br>
              <% }); %>
            </p>
          <% }); %>
          </div>
        </div>
      </div>
    </body>

    </html>
