<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mediaserver</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/skeleton.css" />
</head>

<body>
  <div class="cotainer">
    <div class="row">
      <div class="one-column">
        <h1>Movies</h1>
        <p>
          <ul>
            <% movies.forEach(function(movie) { %>
              <li>
                <%= movie.getName() %>
              </li>
            <% }); %>
          </ul>
        </p>
        <h1>Series</h1>
        <p>
          <ul>
            <% series.forEach(function(serie) { %>
              <li>
                <%= serie.getName() %>
              </li>
            <% }); %>
          </ul>
        </p>
      </div>
    </div>
  </div>
</body>

</html>
