<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mediaserver</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1>Movies</h1>
        <p>
          <ul class="list-group">
            <% movies.forEach(function(movie) { %>
              <li class="list-group-item">
                <%= movie.getName() %>
              </li>
              <% }); %>
            </ul>
          </p>
          <h1>Series</h1>
          <p>
            <ul class="list-group">
              <% series.forEach(function(serie) { %>
                <li class="list-group-item">
                  <%= serie.getName() %>
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
                <% }); %>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </body>

    </html>
